<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tipo-pago-heading" jhiTranslate="guaireCursosApp.tipoPago.home.createOrEditLabel">Create or edit a Tipo Pago</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tipoPago.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tipoPago.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="tipoPago.nombre" required/>
                    <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.instantaneo" for="field_instantaneo">Instantaneo</label>
                    <input type="checkbox" class="form-control" name="instantaneo" id="field_instantaneo"
                        [(ngModel)]="tipoPago.instantaneo" />
                    <div [hidden]="!(editForm.controls.instantaneo?.dirty && editForm.controls.instantaneo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.instantaneo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.cuenta" for="field_cuenta">Cuenta</label>
                    <input type="text" class="form-control" name="cuenta" id="field_cuenta"
                        [(ngModel)]="tipoPago.cuenta" required/>
                    <div [hidden]="!(editForm.controls.cuenta?.dirty && editForm.controls.cuenta?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cuenta?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="tipoPago.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.cedula" for="field_cedula">Cedula</label>
                    <input type="text" class="form-control" name="cedula" id="field_cedula"
                        [(ngModel)]="tipoPago.cedula" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.titular" for="field_titular">Titular</label>
                    <input type="text" class="form-control" name="titular" id="field_titular"
                        [(ngModel)]="tipoPago.titular" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.scriptBoton" for="field_scriptBoton">Script Boton</label>
                    <input type="text" class="form-control" name="scriptBoton" id="field_scriptBoton"
                        [(ngModel)]="tipoPago.scriptBoton" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.moneda" for="field_moneda">Moneda</label>
                    <select class="form-control" id="field_moneda" name="moneda" [(ngModel)]="tipoPago.moneda"  required>
                        <option *ngIf="!editForm.value.moneda" [ngValue]="null" selected></option>
                        <option [ngValue]="monedaOption.id === tipoPago.moneda?.id ? tipoPago.moneda : monedaOption" *ngFor="let monedaOption of monedas; trackBy: trackMonedaById">{{monedaOption.simbolo}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.moneda?.dirty && editForm.controls.moneda?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.moneda?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.tipoCuenta" for="field_tipoCuenta">Tipo Cuenta</label>
                    <select class="form-control" id="field_tipoCuenta" name="tipoCuenta" [(ngModel)]="tipoPago.tipoCuenta"  required>
                        <option *ngIf="!editForm.value.tipoCuenta" [ngValue]="null" selected></option>
                        <option [ngValue]="tipoCuentaOption.id === tipoPago.tipoCuenta?.id ? tipoPago.tipoCuenta : tipoCuentaOption" *ngFor="let tipoCuentaOption of tipocuentas; trackBy: trackTipoCuentaById">{{tipoCuentaOption.nombre}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.tipoCuenta?.dirty && editForm.controls.tipoCuenta?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipoCuenta?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
