<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoPago">
            <h2><span jhiTranslate="guaireCursosApp.tipoPago.detail.title">Tipo Pago</span> {{tipoPago.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="guaireCursosApp.tipoPago.nombre">Nombre</span></dt>
                <dd>
                    <span>{{tipoPago.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.tipoPago.instantaneo">Instantaneo</span></dt>
                <dd>
                    <span>{{tipoPago.instantaneo}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.tipoPago.cuenta">Cuenta</span></dt>
                <dd>
                    <span>{{tipoPago.cuenta}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.tipoPago.email">Email</span></dt>
                <dd>
                    <span>{{tipoPago.email}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.tipoPago.cedula">Cedula</span></dt>
                <dd>
                    <span>{{tipoPago.cedula}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.tipoPago.titular">Titular</span></dt>
                <dd>
                    <span>{{tipoPago.titular}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.tipoPago.scriptBoton">Script Boton</span></dt>
                <dd>
                    <span>{{tipoPago.scriptBoton}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.tipoPago.moneda">Moneda</span></dt>
                <dd>
                    <div *ngIf="tipoPago.moneda">
                        <a [routerLink]="['/moneda', tipoPago.moneda?.id, 'view']">{{tipoPago.moneda?.simbolo}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.tipoPago.tipoCuenta">Tipo Cuenta</span></dt>
                <dd>
                    <div *ngIf="tipoPago.tipoCuenta">
                        <a [routerLink]="['/tipo-cuenta', tipoPago.tipoCuenta?.id, 'view']">{{tipoPago.tipoCuenta?.nombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-pago', tipoPago.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
