<div>
    <h2 id="page-heading">
        <span jhiTranslate="guaireCursosApp.tipoPago.home.title">Tipo Pagos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-pago" [routerLink]="['/tipo-pago/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="guaireCursosApp.tipoPago.home.createLabel">
            Create new Tipo Pago
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tipoPagos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="guaireCursosApp.tipoPago.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instantaneo"><span jhiTranslate="guaireCursosApp.tipoPago.instantaneo">Instantaneo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cuenta"><span jhiTranslate="guaireCursosApp.tipoPago.cuenta">Cuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="guaireCursosApp.tipoPago.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cedula"><span jhiTranslate="guaireCursosApp.tipoPago.cedula">Cedula</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="titular"><span jhiTranslate="guaireCursosApp.tipoPago.titular">Titular</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="scriptBoton"><span jhiTranslate="guaireCursosApp.tipoPago.scriptBoton">Script Boton</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="moneda.simbolo"><span jhiTranslate="guaireCursosApp.tipoPago.moneda">Moneda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoCuenta.nombre"><span jhiTranslate="guaireCursosApp.tipoPago.tipoCuenta">Tipo Cuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoPago of tipoPagos ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-pago', tipoPago.id, 'view' ]">{{tipoPago.id}}</a></td>
                <td>{{tipoPago.nombre}}</td>
                <td>{{tipoPago.instantaneo}}</td>
                <td>{{tipoPago.cuenta}}</td>
                <td>{{tipoPago.email}}</td>
                <td>{{tipoPago.cedula}}</td>
                <td>{{tipoPago.titular}}</td>
                <td>{{tipoPago.scriptBoton}}</td>
                <td>
                    <div *ngIf="tipoPago.moneda">
                        <a [routerLink]="['../moneda', tipoPago.moneda?.id, 'view' ]" >{{tipoPago.moneda?.simbolo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tipoPago.tipoCuenta">
                        <a [routerLink]="['../tipo-cuenta', tipoPago.tipoCuenta?.id, 'view' ]" >{{tipoPago.tipoCuenta?.nombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tipo-pago', tipoPago.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-pago', tipoPago.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tipo-pago', { outlets: { popup: tipoPago.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tipoPagos && tipoPagos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
