<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-curso-heading" jhiTranslate="guaireCursosApp.curso.home.createOrEditLabel">Create or edit a Curso</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!curso.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="curso.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="curso.nombre" required/>
                    <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.descripcion" for="field_descripcion">Descripcion</label>
                    <textarea rows="20" class="form-control" name="descripcion" id="field_descripcion"
                        [(ngModel)]="curso.descripcion" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.lugar" for="field_lugar">Lugar</label>
                    <textarea rows="5" type="text" class="form-control" name="lugar" id="field_lugar"
                              [(ngModel)]="curso.lugar" required></textarea>
                    <div [hidden]="!(editForm.controls.lugar?.dirty && editForm.controls.lugar?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lugar?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.cupos" for="field_minutoInicio">Cupos</label>
                    <input type="number" class="form-control" name="cupos" id="field_cupos"
                           [(ngModel)]="curso.cupos" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.imagen" for="field_imagen">Imagen</label>
                    <div>
                        <img [src]="'data:' + curso.imagenContentType + ';base64,' + curso.imagen" style="max-height: 100px;" *ngIf="curso.imagen" alt="curso image"/>
                        <div *ngIf="curso.imagen" class="form-text text-danger clearfix">
                            <span class="pull-left">{{curso.imagenContentType}}, {{byteSize(curso.imagen)}}</span>
                            <button type="button" (click)="clearInputImage('imagen', 'imagenContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen" (change)="setFileData($event, curso, 'imagen', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                        [(ngModel)]="curso.imagen" />
                    <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                        [(ngModel)]="curso.imagenContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.fecha" for="field_fecha">Fecha</label>
                    <div class="d-flex">
                        <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" [(ngModel)]="fecha" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.fecha?.dirty && editForm.controls.fecha?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fecha?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.fecha?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.horaInicio" for="field_horaInicio">Hora Inicio</label>
                            <input type="number" class="form-control" name="horaInicio" id="field_horaInicio"
                                   [(ngModel)]="curso.horaInicio" required/>
                            <div [hidden]="!(editForm.controls.horaInicio?.dirty && editForm.controls.horaInicio?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.horaInicio?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.horaInicio?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.minutoInicio" for="field_minutoInicio">Minuto Inicio</label>
                            <input type="number" class="form-control" name="minutoInicio" id="field_minutoInicio"
                                   [(ngModel)]="curso.minutoInicio" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.horaFin" for="field_horaFin">Hora Fin</label>
                            <input type="number" class="form-control" name="horaFin" id="field_horaFin"
                                   [(ngModel)]="curso.horaFin" required/>
                            <div [hidden]="!(editForm.controls.horaFin?.dirty && editForm.controls.horaFin?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.horaFin?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.horaFin?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.minutoFin" for="field_minutoFin">Minuto Fin</label>
                            <input type="number" class="form-control" name="minutoFin" id="field_minutoFin"
                                   [(ngModel)]="curso.minutoFin" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.monto" for="field_monto">Monto</label>
                            <input type="number" class="form-control" name="monto" id="field_monto"
                                   [(ngModel)]="curso.monto" required/>
                            <div [hidden]="!(editForm.controls.monto?.dirty && editForm.controls.monto?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.monto?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.monto?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.moneda" for="field_moneda">Moneda</label>
                            <select class="form-control" id="field_moneda" name="moneda" [(ngModel)]="curso.moneda" >
                                <option [ngValue]="null"></option>
                                <option [ngValue]="monedaOption.id === curso.moneda?.id ? curso.moneda : monedaOption" *ngFor="let monedaOption of monedas; trackBy: trackMonedaById">{{monedaOption.simbolo}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="guaireCursosApp.curso.tipoPago" for="field_tipoPago">Tipo Pago</label>
                    <select class="form-control" id="field_tipoPago" multiple name="tipoPago" [(ngModel)]="curso.tipoPagos" required>
                        <option [ngValue]="getSelected(curso.tipoPagos, tipoPagoOption)" *ngFor="let tipoPagoOption of tipopagos; trackBy: trackTipoPagoById">{{tipoPagoOption.nombre}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.tipoPago?.dirty && editForm.controls.tipoPago?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.tipoPago?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.linkInformativo" for="field_linkInformativo">Link Informativo</label>
                    <input type="text" class="form-control" name="linkInformativo" id="field_linkInformativo"
                        [(ngModel)]="curso.linkInformativo" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.curso.expositor" for="field_expositor">Expositor</label>
                    <select class="form-control" id="field_expositor" name="expositor" [(ngModel)]="curso.expositor"  required>
                        <option *ngIf="!editForm.value.expositor" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === curso.expositor?.id ? curso.expositor : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.expositor?.dirty && editForm.controls.expositor?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.expositor?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>


            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
