<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="curso">
            <h2><span>{{curso.nombre}}</span></h2>
            <i><span jhiTranslate="guaireCursosApp.curso.expositor">Expositor</span> {{curso.expositor?.firstName}} {{curso.expositor?.lastName}}</i>
            <dt></dt>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-bg jh-entity-details">

                <dt><span jhiTranslate="guaireCursosApp.curso.descripcion">Descripcion</span></dt>
                <dd style="margin-top: 5px">
                    <span [innerHTML]="curso.descripcion"></span>
                </dd>


                <br/>

                <div class="row">
                    <div class="col-sm">
                        <dd>
                            <div *ngIf="curso.imagen">
                                <a (click)="openFile(curso.imagenContentType, curso.imagen)">
                                    <img [src]="'data:' + curso.imagenContentType + ';base64,' + curso.imagen" style="max-width: 100%;" alt="curso image"/>
                                    <button type="submit"
                                            *ngIf="fechaInvalida"
                                            style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 0px;"
                                            class="btn btn-outline-danger">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span>Finalizado</span>
                                    </button>
                                </a>
                            </div>
                        </dd>
                    </div>
                    <div class="col-sm">
                        <div class="row">
                            <div class="col-7">
                                <dt><span jhiTranslate="guaireCursosApp.curso.lugar">Lugar</span></dt>
                                <dd>
                                    <span style="width: 100%" [innerHTML]="curso.lugar"></span>
                                </dd>
                            </div>
                            <div class="col-sm">
                                <button type="button"
                                        [routerLink]="['/inscripcion/new', curso.id]"
                                        [disabled]="fechaInvalida"
                                        class="btn btn-success">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="guaireCursosApp.curso.inscribirse"> Edit</span>
                                </button>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm">
                                <dt><span jhiTranslate="guaireCursosApp.curso.fecha">Fecha</span></dt>
                                <dd>
                                    <span>{{curso.fecha | date : "dd MMM yyyy"}}</span>
                                </dd>
                            </div>
                            <div class="col-sm">
                                <dt><span jhiTranslate="guaireCursosApp.curso.horaInicio">Hora Inicio</span></dt>
                                <dd>
                                    <span>{{curso.horaInicio}}:{{curso.minutoInicio | number:'2.0'}}</span>
                                </dd>
                            </div>
                            <div class="col-sm">
                                <dt><span jhiTranslate="guaireCursosApp.curso.horaFin">Hora Fin</span></dt>
                                <dd>
                                    <span>{{curso.horaFin}}:{{curso.minutoFin | number:'2.0'}}</span>
                                </dd>
                            </div>
                        </div>

                        <dt><span jhiTranslate="guaireCursosApp.curso.monto">Monto</span></dt>
                        <dd>
                            <span>{{curso.moneda?.simbolo}}{{curso.monto}} {{curso.monto == 0 ? '-' : ''}} <b style="color: red">{{curso.monto == 0 ? ' Gratis!' : ''}}</b></span>
                        </dd>

                        <dt *ngIf="curso.cupos"><span jhiTranslate="guaireCursosApp.curso.cupos">Cupos</span></dt>
                        <dd *ngIf="curso.cupos">
                            <span>{{curso.cupos}}</span>
                        </dd>

                        <div *ngIf="curso.monto != 0">
                            <dt><span jhiTranslate="guaireCursosApp.curso.tipoPago">Tipo Pago</span></dt>
                            <dd>
                            <span *ngFor="let tipoPago of curso.tipoPagos; let last = last">
                                {{tipoPago.nombre}}{{last ? '' : ', '}}
                            </span>
                            </dd>
                        </div>


                    </div>
                </div>

                <dt><span jhiTranslate="guaireCursosApp.curso.linkInformativo">Link Informativo</span></dt>
                <dd>
                    <a href="{{curso.linkInformativo}}" target="_blank"><span>{{curso.linkInformativo}}</span></a>
                </dd>




            </dl>

            <button type="submit"
                    *jhiHasAnyAuthority="'ROLE_ADMIN','ROLE_PROFESSOR'"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    *jhiHasAnyAuthority="'ROLE_ADMIN','ROLE_PROFESSOR'"
                    [routerLink]="['/curso', curso.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>

            <button type="button"
                    *jhiHasAnyAuthority="'ROLE_ADMIN','ROLE_PROFESSOR'"
                    [routerLink]="['/inscripcion/email', curso.id]"
                    class="btn btn-success">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="guaireCursosApp.curso.inscribir"> Edit</span>
            </button>
            <br/><br/>
        </div>
    </div>
</div>
