<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-moneda-heading" jhiTranslate="guaireCursosApp.moneda.home.createOrEditLabel">Create or edit a Moneda</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!moneda.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="moneda.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.moneda.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="moneda.nombre" required/>
                    <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.moneda.simbolo" for="field_simbolo">Simbolo</label>
                    <input type="text" class="form-control" name="simbolo" id="field_simbolo"
                        [(ngModel)]="moneda.simbolo" required/>
                    <div [hidden]="!(editForm.controls.simbolo?.dirty && editForm.controls.simbolo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.simbolo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.moneda.cambio" for="field_cambio">Cambio</label>
                    <input type="number" class="form-control" name="cambio" id="field_cambio"
                        [(ngModel)]="moneda.cambio" required/>
                    <div [hidden]="!(editForm.controls.cambio?.dirty && editForm.controls.cambio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cambio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cambio?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
