<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="moneda">
            <h2><span jhiTranslate="guaireCursosApp.moneda.detail.title">Moneda</span> {{moneda.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="guaireCursosApp.moneda.nombre">Nombre</span></dt>
                <dd>
                    <span>{{moneda.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.moneda.simbolo">Simbolo</span></dt>
                <dd>
                    <span>{{moneda.simbolo}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.moneda.cambio">Cambio</span></dt>
                <dd>
                    <span>{{moneda.cambio}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/moneda', moneda.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
