<div>
    <h2 id="page-heading">
        <span jhiTranslate="guaireCursosApp.tipoCuenta.home.title">Tipo Cuentas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-cuenta" [routerLink]="['/tipo-cuenta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="guaireCursosApp.tipoCuenta.home.createLabel">
            Create new Tipo Cuenta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tipoCuentas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="guaireCursosApp.tipoCuenta.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="guaireCursosApp.tipoCuenta.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instantaneo"><span jhiTranslate="guaireCursosApp.tipoCuenta.instantaneo">Instantaneo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoCuenta of tipoCuentas ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-cuenta', tipoCuenta.id, 'view' ]">{{tipoCuenta.id}}</a></td>
                <td>{{tipoCuenta.nombre}}</td>
                <td>{{tipoCuenta.descripcion}}</td>
                <td>{{tipoCuenta.instantaneo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tipo-cuenta', tipoCuenta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-cuenta', tipoCuenta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tipo-cuenta', { outlets: { popup: tipoCuenta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tipoCuentas && tipoCuentas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
