<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoCuenta">
            <h2><span jhiTranslate="guaireCursosApp.tipoCuenta.detail.title">Tipo Cuenta</span> {{tipoCuenta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="guaireCursosApp.tipoCuenta.nombre">Nombre</span></dt>
                <dd>
                    <span>{{tipoCuenta.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.tipoCuenta.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{tipoCuenta.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.tipoCuenta.instantaneo">Instantaneo</span></dt>
                <dd>
                    <span>{{tipoCuenta.instantaneo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-cuenta', tipoCuenta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
