<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="../../content/images/logo.png" />
    </div>
    <div class="col-md-7">
        <h1 class="display-4" jhiTranslate="home.title">Guaire Cursos</h1>
        <p class="lead" jhiTranslate="home.subtitle"></p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>

            <br>

            <h4 *ngIf="curso"><b jhiTranslate="guaireCursosApp.curso.cursoDestacado">destacado</b></h4>

            <div *ngIf="curso" style="border-width: 1px; border-color: gray; background-color: rgba(0,0,0,.05); padding: 25px; border-radius: 5px;">
                <h4><span>{{curso.nombre}}</span></h4>
                <i><span jhiTranslate="guaireCursosApp.curso.expositor">Expositor</span> {{curso.expositor?.firstName}} {{curso.expositor?.lastName}}</i>
                <dt></dt>
                <hr>

                <dl class="row-bg jh-entity-details">

                    <dt><span jhiTranslate="guaireCursosApp.curso.descripcion">Descripcion</span></dt>
                    <dd style="margin-top: 5px">
                        <span [innerHTML]="curso.descripcion"></span>
                    </dd>


                    <br/>

                    <div class="row">
                        <div class="col-sm">
                            <dd>
                                <div *ngIf="curso.imagen">
                                    <a (click)="openFile(curso.imagenContentType, curso.imagen)">
                                        <img [src]="'data:' + curso.imagenContentType + ';base64,' + curso.imagen" style="max-width: 100%;" alt="curso image"/>
                                        <button type="submit"
                                                *ngIf="fechaInvalida"
                                                style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 0px;"
                                                class="btn btn-outline-danger">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span>Finalizado</span>
                                        </button>
                                    </a>
                                </div>
                            </dd>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-7">
                                    <dt><span jhiTranslate="guaireCursosApp.curso.lugar">Lugar</span></dt>
                                    <dd>
                                        <span style="width: 100%" [innerHTML]="curso.lugar"></span>
                                    </dd>
                                </div>
                                <div class="col-sm">
                                    <button type="button"
                                            [routerLink]="['/inscripcion/new', curso.id]"
                                            [disabled]="fechaInvalida"
                                            class="btn btn-success">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="guaireCursosApp.curso.inscribirse"> Edit</span>
                                    </button>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm">
                                    <dt><span jhiTranslate="guaireCursosApp.curso.fecha">Fecha</span></dt>
                                    <dd>
                                        <span>{{curso.fecha | date : "dd MMM yyyy"}}</span>
                                    </dd>
                                </div>
                                <div class="col-sm">
                                    <dt><span jhiTranslate="guaireCursosApp.curso.horaInicio">Hora Inicio</span></dt>
                                    <dd>
                                        <span>{{curso.horaInicio}}:{{curso.minutoInicio | number:'2.0'}}</span>
                                    </dd>
                                </div>
                                <div class="col-sm">
                                    <dt><span jhiTranslate="guaireCursosApp.curso.horaFin">Hora Fin</span></dt>
                                    <dd>
                                        <span>{{curso.horaFin}}:{{curso.minutoFin | number:'2.0'}}</span>
                                    </dd>
                                </div>
                            </div>

                            <dt><span jhiTranslate="guaireCursosApp.curso.monto">Monto</span></dt>
                            <dd>
                                <span>{{curso.moneda?.simbolo}}{{curso.monto}} {{curso.monto == 0 ? '-' : ''}} <b style="color: red">{{curso.monto == 0 ? ' Gratis!' : ''}}</b></span>
                            </dd>

                            <dt *ngIf="curso.cupos"><span jhiTranslate="guaireCursosApp.curso.cupos">Cupos</span></dt>
                            <dd *ngIf="curso.cupos">
                                <span>{{curso.cupos}}</span>
                            </dd>

                            <div *ngIf="curso.monto != 0">
                                <dt><span jhiTranslate="guaireCursosApp.curso.tipoPago">Tipo Pago</span></dt>
                                <dd>
                            <span *ngFor="let tipoPago of curso.tipoPagos; let last = last">
                                {{tipoPago.nombre}}{{last ? '' : ', '}}
                            </span>
                                </dd>
                            </div>

                        </div>
                    </div>

                    <dt><span jhiTranslate="guaireCursosApp.curso.linkInformativo">Link Informativo</span></dt>
                    <dd>
                        <a href="{{curso.linkInformativo}}" target="_blank"><span>{{curso.linkInformativo}}</span></a>
                    </dd>
                </dl>
            </div>

        </div>
    </div>
    <br/>
    <br/>
</div>
