<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pago">
            <h2><span jhiTranslate="guaireCursosApp.pago.detail.title">Pago</span> {{pago.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <div class="row">
                    <div class="col-sm">
                        <dt><span jhiTranslate="guaireCursosApp.pago.curso">Curso</span></dt>
                        <dd>
                            <div *ngIf="pago.inscripcion">
                                <a [routerLink]="['/curso', pago.inscripcion.curso.id, 'view']">{{pago.inscripcion.curso.nombre}}</a>
                            </div>
                        </dd>
                    </div>
                    <div class="col-sm">
                        <dt><span jhiTranslate="guaireCursosApp.pago.fecha">Fecha</span></dt>
                        <dd>
                            <span>{{pago.fecha}}</span>
                        </dd>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <dt><span jhiTranslate="guaireCursosApp.pago.estatusPago">Estatus Pago</span></dt>
                        <dd>
                            <div *ngIf="pago.estatusPago">
                                <select (change)="updatePago()" class="form-control" name="estatusPago" [(ngModel)]="pago.estatusPago"  required>
                                    <option [ngValue]="estatusPagoOption.id === pago.estatusPago.id ? pago.estatusPago : estatusPagoOption" *ngFor="let estatusPagoOption of estatuspagos;">{{estatusPagoOption.nombre}}</option>
                                </select>
                            </div>
                        </dd>
                    </div>
                    <div class="col-sm">
                        <dt><span jhiTranslate="guaireCursosApp.pago.fechaStatus">Fecha Status</span></dt>
                        <dd>
                            <span>{{pago.fechaStatus ? pago.fechaStatus : pago.fecha}}</span>
                        </dd>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <dt><span jhiTranslate="guaireCursosApp.pago.monto">Monto</span></dt>
                        <dd>
                            <div class="row">
                                <div class="col">
                                    <span>{{pago.moneda?.simbolo}}</span>
                                    <input type="text" class="form-control" name="monto" id="field_monto"
                                           [(ngModel)]="pago.monto"/>
                                </div>
                                <div class="col-sm">
                                    <button type="button"
                                            (click)="updatePago()"
                                            class="btn btn-primary"
                                            style="position: absolute; bottom: 0; left: 0;">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                                    </button>
                                </div>
                            </div>
                        </dd>
                    </div>
                    <div class="col-sm">
                        <dt><span jhiTranslate="guaireCursosApp.pago.tipoPago">Tipo Pago</span></dt>
                        <dd>
                            <div *ngIf="pago.tipoPago">
                                <a [routerLink]="['/tipo-pago', pago.tipoPago?.id, 'view']">{{pago.tipoPago?.nombre}}</a>
                            </div>
                        </dd>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <dt><span jhiTranslate="guaireCursosApp.pago.fotoComprobante">Foto Comprobante</span></dt>
                        <dd>
                            <div *ngIf="pago.fotoComprobante">
                                <a (click)="openFile(pago.fotoComprobanteContentType, pago.fotoComprobante)">
                                    <img [src]="'data:' + pago.fotoComprobanteContentType + ';base64,' + pago.fotoComprobante" style="max-width: 100%;" alt="pago image"/>
                                </a>
                                {{pago.fotoComprobanteContentType}}, {{byteSize(pago.fotoComprobante)}}
                            </div>
                        </dd>
                    </div>
                    <div class="col-sm">
                        <dt><span jhiTranslate="guaireCursosApp.pago.numeroTransaccion">Numero Transaccion</span></dt>
                        <dd>
                            <span>{{pago.numeroTransaccion}}</span>
                        </dd>
                    </div>
                </div>







            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>


        </div>
    </div>
</div>
