<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pago-heading" jhiTranslate="guaireCursosApp.pago.home.createOrEditLabel">Create or edit a Pago</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pago.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pago.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.fecha" for="field_fecha">Fecha</label>
                    <div class="d-flex">
                        <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" [(ngModel)]="fecha" placeholder="YYYY-MM-DD HH:mm"
                               required readonly/>
                    </div>
                    <div [hidden]="!(editForm.controls.fecha?.dirty && editForm.controls.fecha?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.fecha?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.fecha?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div *ngIf="pago.inscripcion" class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.inscripcion" for="field_inscripcion">Inscripcion</label>
                    <input id="field_inscripcion" class="form-control" name="inscripcion" [(ngModel)]="pago.inscripcion.curso.nombre"
                       required disabled/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.tipoPago" for="field_tipoPago">Tipo Pago</label>
                    <select (change)="checkPaypal()" class="form-control" id="field_tipoPago" name="tipoPago" [(ngModel)]="pago.tipoPago"  required>
                        <option *ngIf="!editForm.value.tipoPago" [ngValue]="null" selected></option>
                        <option [ngValue]="tipoPagoOption.id === pago.tipoPago?.id ? pago.tipoPago : tipoPagoOption" *ngFor="let tipoPagoOption of tipopagos; trackBy: trackTipoPagoById">{{tipoPagoOption.nombre}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.tipoPago?.dirty && editForm.controls.tipoPago?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.tipoPago?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>


                <div *ngIf="pago.inscripcion && pago.inscripcion.curso" class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.monto" for="field_monto_curso">Monto</label>
                            <input type="text" class="form-control" name="monto_curso" id="field_monto_curso"
                                   [(ngModel)]="pago.inscripcion.curso.monto" readonly/>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.moneda" for="field_moneda_curso">Moneda</label>
                            <input type="text" class="form-control" name="moneda_curso" id="field_moneda_curso"
                                   [(ngModel)]="pago.inscripcion.curso.moneda.simbolo" readonly/>
                        </div>
                    </div>
                </div>

                <div *ngIf="pago.inscripcion && pago.inscripcion.curso && cambio && (pago.inscripcion.curso.moneda != cambio.moneda)" class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.monto" for="field_monto">Monto</label>
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.cambio" for="field_monto">Cambio</label>
                            <input type="text" class="form-control" name="monto_cambio" id="field_monto_cambio"
                                   [(ngModel)]="cambio.monto" readonly/>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.moneda" for="field_moneda_cambio">Moneda</label>
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.cambio" for="field_monto">Cambio</label>
                            <input type="text" class="form-control" name="moneda_cambio" id="field_moneda_cambio"
                                   [(ngModel)]="cambio.moneda.simbolo" readonly/>
                        </div>
                    </div>
                </div>


                <div *ngIf="pago.inscripcion && pago.inscripcion.curso" class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.pago" for="field_monto">Pago</label>
                            <input type="text" class="form-control" name="monto" id="field_monto"
                                   [(ngModel)]="pago.monto" required/>
                        </div>
                    </div>
                    <div *ngIf="cambio" class="col-sm">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.moneda" for="field_moneda">Moneda</label>
                            <input type="text" class="form-control" name="moneda" id="field_moneda"
                                   [(ngModel)]="cambio.moneda.simbolo" readonly/>
                        </div>
                    </div>
                </div>


                <div *ngIf="pago.inscripcion && pago.inscripcion.curso && (pago.tipoPago.tipoCuenta.id == 2) && (!isPaid)" class="form-group" style="display: -webkit-flex; -webkit-align-items: center; display: flex; align-items: center;">
                    <ngx-paypal style="width: 100%; padding: 25px;" [config]="payPalConfig"></ngx-paypal>
                </div>






                <div *ngIf="pago.inscripcion && pago.inscripcion.curso && (pago.tipoPago.tipoCuenta.id == 1) && (!isPaid)" class="form-group" style="padding: 25px; background-color: 'gray'; border-radius: 15px;">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.titular" for="field_titular">Titular</label>
                        <input type="text" class="form-control" name="titular" id="field_titular"
                               [(ngModel)]="pago.tipoPago.titular" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.cedula" for="field_cedula">Cedula</label>
                        <input type="text" class="form-control" name="cedula" id="field_cedula"
                               [(ngModel)]="pago.tipoPago.cedula" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.cuenta" for="field_cuenta">Cuenta</label>
                        <input type="text" class="form-control" name="cuenta" id="field_cuenta"
                               [(ngModel)]="pago.tipoPago.cuenta" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.email" for="field_email">Email</label>
                        <input type="text" class="form-control" name="email" id="field_email"
                               [(ngModel)]="pago.tipoPago.email" readonly/>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.fotoComprobante" for="field_fotoComprobante">Foto Comprobante</label>
                        <div>
                            <img [src]="'data:' + pago.fotoComprobanteContentType + ';base64,' + pago.fotoComprobante" style="max-height: 100px;" *ngIf="pago.fotoComprobante" alt="pago image"/>
                            <div *ngIf="pago.fotoComprobante" class="form-text text-danger clearfix">
                                <span class="pull-left">{{pago.fotoComprobanteContentType}}, {{byteSize(pago.fotoComprobante)}}</span>
                                <button type="button" (click)="clearInputImage('fotoComprobante', 'fotoComprobanteContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </button>
                            </div>
                            <input type="file" id="file_fotoComprobante" (change)="setFileData($event, pago, 'fotoComprobante', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                        </div>
                        <input type="hidden" class="form-control" name="fotoComprobante" id="field_fotoComprobante"
                               [(ngModel)]="pago.fotoComprobante" />
                        <input type="hidden" class="form-control" name="fotoComprobanteContentType" id="field_fotoComprobanteContentType"
                               [(ngModel)]="pago.fotoComprobanteContentType" />
                    </div>
                </div>


                <div *ngIf="pago.inscripcion && pago.inscripcion.curso && (pago.tipoPago.tipoCuenta.id == 2601) && (!isPaid)" class="form-group" style="padding: 25px; background-color: 'gray'; border-radius: 15px;">

                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.cupon" for="field_fotoComprobante">Cupon</label>
                        <div>
                            <img [src]="'data:' + pago.fotoComprobanteContentType + ';base64,' + pago.fotoComprobante" style="max-height: 100px;" *ngIf="pago.fotoComprobante" alt="pago image"/>
                            <div *ngIf="pago.fotoComprobante" class="form-text text-danger clearfix">
                                <span class="pull-left">{{pago.fotoComprobanteContentType}}, {{byteSize(pago.fotoComprobante)}}</span>
                                <button type="button" (click)="clearInputImage('fotoComprobante', 'fotoComprobanteContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </button>
                            </div>
                            <input type="file" id="file_fotoComprobante" (change)="setFileData($event, pago, 'fotoComprobante', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                        </div>
                        <input type="hidden" class="form-control" name="fotoComprobante" id="field_fotoComprobante"
                               [(ngModel)]="pago.fotoComprobante" />
                        <input type="hidden" class="form-control" name="fotoComprobanteContentType" id="field_fotoComprobanteContentType"
                               [(ngModel)]="pago.fotoComprobanteContentType" />
                    </div>
                </div>


                <div *ngIf="isPaid && (pago.tipoPago.tipoCuenta.id != 3751)" class="form-group d-flex justify-content-center" style="padding: 25px;">
                    <span class="text-success" style="font-size: 300%;"><b><fa-icon [icon]="'check-circle'"></fa-icon> PROCESANDO</b></span>
                </div>
                <div *ngIf="isPaid && (pago.tipoPago.tipoCuenta.id != 3751)" class="form-group d-flex justify-content-center" style="padding: 25px;">
                    Presione "Guardar" para procesar su pago
                </div>




            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
