<div>
    <h2 id="page-heading">
        <span jhiTranslate="guaireCursosApp.pago.home.title">Pagos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pago" [routerLink]="['/pago/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="guaireCursosApp.pago.home.createLabel">
            Create new Pago
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pagos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="guaireCursosApp.pago.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="monto"><span jhiTranslate="guaireCursosApp.pago.monto">Monto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fotoComprobante"><span jhiTranslate="guaireCursosApp.pago.fotoComprobante">Foto Comprobante</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaStatus"><span jhiTranslate="guaireCursosApp.pago.fechaStatus">Fecha Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroTransaccion"><span jhiTranslate="guaireCursosApp.pago.numeroTransaccion">Numero Transaccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoPago.nombre"><span jhiTranslate="guaireCursosApp.pago.tipoPago">Tipo Pago</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estatusPago.nombre"><span jhiTranslate="guaireCursosApp.pago.estatusPago">Estatus Pago</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="moneda.simbolo"><span jhiTranslate="guaireCursosApp.pago.moneda">Moneda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inscripcion.id"><span jhiTranslate="guaireCursosApp.pago.inscripcion">Inscripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pago of pagos ;trackBy: trackId">
                <td><a [routerLink]="['/pago', pago.id, 'view' ]">{{pago.id}}</a></td>
                <td>{{pago.fecha | date:'medium'}}</td>
                <td>{{pago.monto}}</td>
                <td>
                    <a *ngIf="pago.fotoComprobante" (click)="openFile(pago.fotoComprobanteContentType, pago.fotoComprobante)">
                        <img [src]="'data:' + pago.fotoComprobanteContentType + ';base64,' + pago.fotoComprobante" style="max-height: 30px;" alt="pago image"/>
                    </a>
                    <span *ngIf="pago.fotoComprobante">{{pago.fotoComprobanteContentType}}, {{byteSize(pago.fotoComprobante)}}</span>
                </td>
                <td>{{pago.fechaStatus | date:'medium'}}</td>
                <td>{{pago.numeroTransaccion}}</td>
                <td>
                    <div *ngIf="pago.tipoPago">
                        <a [routerLink]="['../tipo-pago', pago.tipoPago?.id, 'view' ]" >{{pago.tipoPago?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pago.estatusPago">
                        <a [routerLink]="['../estatus-pago', pago.estatusPago?.id, 'view' ]" >{{pago.estatusPago?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pago.moneda">
                        <a [routerLink]="['../moneda', pago.moneda?.id, 'view' ]" >{{pago.moneda?.simbolo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pago.inscripcion">
                        <a [routerLink]="['../inscripcion', pago.inscripcion?.id, 'view' ]" >{{pago.inscripcion?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pago', pago.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pago', pago.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'pago', { outlets: { popup: pago.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pagos && pagos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
