<div>
    <h2 id="page-heading">
        <span jhiTranslate="guaireCursosApp.inscripcion.cursoInscripciones">Inscripcions</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="inscripcions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="alumno"><span jhiTranslate="guaireCursosApp.inscripcion.alumno">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="guaireCursosApp.inscripcion.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comentarios"><span jhiTranslate="guaireCursosApp.inscripcion.comentarios">Comentarios</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="curso.nombre"><span jhiTranslate="guaireCursosApp.inscripcion.curso">Curso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pago"><span jhiTranslate="guaireCursosApp.inscripcion.pago">Pago</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="pagos.estatusPago.nombre"><span jhiTranslate="guaireCursosApp.inscripcion.estatusPago">Payment Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inscripcion of inscripcions ;trackBy: trackId">
                <td><a [routerLink]="['/inscripcion', inscripcion.id, 'view' ]">{{inscripcion.id}}</a></td>
                <td>{{inscripcion.alumno.email}}</td>
                <td>{{inscripcion.fecha | date:'medium'}}</td>
                <td>{{inscripcion.comentarios}}</td>
                <td>
                    <div *ngIf="inscripcion.curso">
                        <a [routerLink]="['/curso', inscripcion.curso?.id, 'view' ]" >{{inscripcion.curso?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <div *ngFor="let pago of inscripcion.pagos ;trackBy: trackId"><a [routerLink]="['/pago', pago?.id, 'view' ]" >{{pago.moneda.simbolo}}{{pago.monto}} {{pago.tipoPago.nombre}} - {{pago.estatusPago.nombre}}</a></div>
                        </div>
                        <div class="col-sm">
                            <button id="jh-create-entity" class="btn btn-success jh-create-entity create-pago" [routerLink]="['/pago/new', inscripcion.id]">
                                <fa-icon [icon]="'plus'"></fa-icon>
                                <span  jhiTranslate="guaireCursosApp.pago.home.createLabel">
                                    Create new Pago
                                </span>
                            </button>
                        </div>
                    </div>

                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/inscripcion', inscripcion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/inscripcion', inscripcion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'inscripcion', { outlets: { popup: inscripcion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-group">
            <h6>Lista de Inscritos:</h6>
            <div *ngFor="let inscrito of inscritos ;">{{inscrito}}</div>
        </div>
    </div>
    <div *ngIf="inscripcions && inscripcions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
