<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inscripcion">
            <h2><span jhiTranslate="guaireCursosApp.inscripcion.detail.title">Inscripcion</span> {{inscripcion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="guaireCursosApp.inscripcion.fecha">Fecha</span></dt>
                <dd>
                    <span>{{inscripcion.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.inscripcion.comentarios">Comentarios</span></dt>
                <dd>
                    <span>{{inscripcion.comentarios}}</span>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.inscripcion.curso">Curso</span></dt>
                <dd>
                    <div *ngIf="inscripcion.curso">
                        <a [routerLink]="['/curso', inscripcion.curso?.id, 'view']">{{inscripcion.curso?.nombre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="guaireCursosApp.inscripcion.alumno">Alumno</span></dt>
                <dd>
                    {{inscripcion.alumno?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inscripcion', inscripcion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
