<div class="row justify-content-center">
    <div *ngIf="isSaving" class="loading-screen"><div class="loading-animation"></div></div>
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 *ngIf="inscripcion.curso">{{inscripcion.curso.nombre}}</h2>
            <i><h4 id="jhi-inscripcion-heading" jhiTranslate="guaireCursosApp.inscripcion.home.createOrEditLabel">Create or edit a Inscripcion</h4></i>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!inscripcion.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="inscripcion.id" readonly />
                </div>

                <div *ngIf="inscripcion.alumno" class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.inscripcion.alumno" for="field_alumno">Alumno</label>
                    <input id="field_alumno" class="form-control" name="alumno" [(ngModel)]="inscripcion.alumno.login"
                           required disabled/>
                </div>
                <div [hidden]="!(editForm.controls.alumno?.dirty && editForm.controls.alumno?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.alumno?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>


                <!--
                <div class="form-group" class="row" style="margin-bottom: 10px">
                    <div class="col-md-auto"><input (change)="checkCantidad()" type="checkbox" class="form-control" name="instantaneo" id="field_instantaneo"
                                                    [(ngModel)]="varios" /></div>
                    <div class="col-sm" style="padding-top: 5px; margin-left: -15px"><label class="form-control-label" jhiTranslate="guaireCursosApp.inscripcion.inscribirVarios" for="field_instantaneo">Inscribir varios alumnos</label></div>
                </div>
                <div class="form-group" *ngIf="varios">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.inscripcion.cantidadAlumnos" for="field_cantidadAlumnos">Cantidad de alumnos</label>
                    <input (change)="checkCantidad()" type="number" class="form-control" name="cantidadAlumnos" id="field_cantidadAlumnos"
                           [(ngModel)]="cantidadAlumnos"/>
                </div>
                -->


                <div [hidden]="!(editForm.controls.curso?.dirty && editForm.controls.curso?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.curso?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div *ngIf="inscripcion.curso.monto == 0" >
                    <b>Este curso es Gratis</b> <br/>
                    <input type="checkbox" name="deseaDonar" id="deseaDonars"
                           [(ngModel)]="deseaDonar" checked/>&nbsp;&nbsp;Deseo donar para apoyar la causa de Guaire Producciones y más cursos gratuitos
                    <br/><br/>
                </div>


                <div *ngIf="inscripcion.curso.monto != 0 || deseaDonar">
                    <div *ngIf="inscripcion.curso && inscripcion.pago" class="form-group">
                        <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.tipoPago" for="field_tipoPago">Tipo Pago</label>
                        <select (change)="checkPaypal()" class="form-control" id="field_tipoPago" name="tipoPago" [(ngModel)]="inscripcion.pago.tipoPago"  required>
                            <option *ngIf="!editForm.value.tipoPago" [ngValue]="null" selected></option>
                            <option [ngValue]="tipoPagoOption.id === inscripcion.pago.tipoPago?.id ? inscripcion.pago.tipoPago : tipoPagoOption" *ngFor="let tipoPagoOption of inscripcion.curso.tipoPagos; trackBy: trackTipoPagoById">{{tipoPagoOption.nombre}}</option>
                        </select>
                    </div>
                    <div *ngIf="inscripcion.pago" [hidden]="!(editForm.controls.tipoPago?.dirty && editForm.controls.tipoPago?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.tipoPago?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>


                    <div *ngIf="inscripcion.curso && inscripcion.pago" class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.monto" for="field_monto_curso">Monto</label>
                                <input type="text" class="form-control" name="monto_curso" id="field_monto_curso"
                                       [(ngModel)]="inscripcion.curso.monto" readonly/>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.moneda" for="field_moneda_curso">Moneda</label>
                                <input type="text" class="form-control" name="moneda_curso" id="field_moneda_curso"
                                       [(ngModel)]="inscripcion.curso.moneda.simbolo" readonly/>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="inscripcion.curso && cambio && inscripcion.pago.tipoPago.moneda.id != inscripcion.curso.moneda.id" class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.monto" for="field_monto">Monto</label>
                                <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.cambio" for="field_monto">Cambio</label>
                                <input type="text" class="form-control" name="monto_cambio" id="field_monto_cambio"
                                       [(ngModel)]="cambio.monto" readonly/>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.moneda" for="field_moneda">Moneda</label>
                                <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.cambio" for="field_monto">Cambio</label>
                                <input type="text" class="form-control" name="moneda_cambio" id="field_moneda_cambio"
                                       [(ngModel)]="cambio.moneda.simbolo" readonly/>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="inscripcion.curso" class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.pago" for="field_monto">Pago</label>
                                <input type="text" class="form-control" name="monto" id="field_monto"
                                       [(ngModel)]="inscripcion.pago.monto" required/>
                            </div>
                        </div>
                        <div *ngIf="cambio" class="col-sm">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.moneda" for="field_moneda">Moneda</label>
                                <input type="text" class="form-control" name="moneda" id="field_moneda"
                                       [(ngModel)]="cambio.moneda.simbolo" readonly/>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="inscripcion.curso && (inscripcion.pago.tipoPago.tipoCuenta.id == 2) && (!isPaid)" class="form-group" style="display: -webkit-flex; -webkit-align-items: center; display: flex; align-items: center;">
                        <ngx-paypal style="width: 100%; padding: 25px;" [config]="payPalConfig"></ngx-paypal>
                    </div>






                    <div *ngIf="inscripcion.curso && (inscripcion.pago.tipoPago.tipoCuenta.id == 1) && (!isPaid)" class="form-group" style="padding: 25px; background-color: 'gray'; border-radius: 15px;">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.titular" for="field_titular">Titular</label>
                            <input type="text" class="form-control" name="titular" id="field_titular"
                                   [(ngModel)]="inscripcion.pago.tipoPago.titular" readonly/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.cedula" for="field_cedula">Cedula</label>
                            <input type="text" class="form-control" name="cedula" id="field_cedula"
                                   [(ngModel)]="inscripcion.pago.tipoPago.cedula" readonly/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.cuenta" for="field_cuenta">Cuenta</label>
                            <input type="text" class="form-control" name="cuenta" id="field_cuenta"
                                   [(ngModel)]="inscripcion.pago.tipoPago.cuenta" readonly/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.tipoPago.email" for="field_email">Email</label>
                            <input type="text" class="form-control" name="email" id="field_email"
                                   [(ngModel)]="inscripcion.pago.tipoPago.email" readonly/>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.fotoComprobante" for="field_fotoComprobante">Foto Comprobante</label>
                            <div>
                                <img [src]="'data:' + inscripcion.pago.fotoComprobanteContentType + ';base64,' + inscripcion.pago.fotoComprobante" style="max-height: 100px;" *ngIf="inscripcion.pago.fotoComprobante" alt="pago image"/>
                                <div *ngIf="inscripcion.pago.fotoComprobante" class="form-text text-danger clearfix">
                                    <span class="pull-left">{{inscripcion.pago.fotoComprobanteContentType}}, {{byteSize(inscripcion.pago.fotoComprobante)}}</span>
                                    <button type="button" (click)="clearInputImage('fotoComprobante', 'fotoComprobanteContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </div>
                                <input type="file" id="file_fotoComprobante" (change)="setFileData($event, inscripcion.pago, 'fotoComprobante', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                            </div>
                            <input type="hidden" class="form-control" name="fotoComprobante" id="field_fotoComprobante"
                                   [(ngModel)]="inscripcion.pago.fotoComprobante" />
                            <input type="hidden" class="form-control" name="fotoComprobanteContentType" id="field_fotoComprobanteContentType"
                                   [(ngModel)]="inscripcion.pago.fotoComprobanteContentType" />
                        </div>
                    </div>


                    <div *ngIf="inscripcion.curso && (inscripcion.pago.tipoPago.tipoCuenta.id == 2601) && (!isPaid)" class="form-group" style="padding: 25px; background-color: 'gray'; border-radius: 15px;">

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="guaireCursosApp.pago.cupon" for="field_fotoComprobante">Cupon</label>
                            <div>
                                <img [src]="'data:' + inscripcion.pago.fotoComprobanteContentType + ';base64,' + inscripcion.pago.fotoComprobante" style="max-height: 100px;" *ngIf="inscripcion.pago.fotoComprobante" alt="pago image"/>
                                <div *ngIf="inscripcion.pago.fotoComprobante" class="form-text text-danger clearfix">
                                    <span class="pull-left">{{inscripcion.pago.fotoComprobanteContentType}}, {{byteSize(inscripcion.pago.fotoComprobante)}}</span>
                                    <button type="button" (click)="clearInputImage('fotoComprobante', 'fotoComprobanteContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </div>
                                <input type="file" id="file_fotoComprobante" (change)="setFileData($event, inscripcion.pago, 'fotoComprobante', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                            </div>
                            <input type="hidden" class="form-control" name="fotoComprobante" id="field_fotoComprobante"
                                   [(ngModel)]="inscripcion.pago.fotoComprobante" />
                            <input type="hidden" class="form-control" name="fotoComprobanteContentType" id="field_fotoComprobanteContentType"
                                   [(ngModel)]="inscripcion.pago.fotoComprobanteContentType" />
                        </div>
                    </div>


                    <div *ngIf="isPaid && (inscripcion.pago.tipoPago.tipoCuenta.id != 3751)" class="form-group d-flex justify-content-center" style="padding: 25px;">
                        <span class="text-success" style="font-size: 300%;"><b><fa-icon [icon]="'check-circle'"></fa-icon> PROCESANDO</b></span>
                    </div>
                    <div *ngIf="isPaid && (inscripcion.pago.tipoPago.tipoCuenta.id != 3751)" class="form-group d-flex justify-content-center" style="padding: 25px;">
                        Presione "<fa-icon [icon]="'check-circle'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.inscribir">Save</span>" para procesar su pago
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.inscripcion.comentarios" for="field_comentarios">Comentarios</label>
                    <textarea type="text" class="form-control" name="comentarios" id="field_comentarios"
                              [(ngModel)]="inscripcion.comentarios" ></textarea>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="((editForm.form.invalid || isSaving || !isPaid) && deseaDonar)" class="btn btn-success">
                    <fa-icon [icon]="'check-circle'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.inscribir">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
