<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 *ngIf="inscripcion.curso">{{inscripcion.curso.nombre}}</h2>
            <i><h4 id="jhi-inscripcion-heading" jhiTranslate="guaireCursosApp.inscripcion.home.createOrEditLabel">Create or edit a Inscripcion</h4></i>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!inscripcion.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="inscripcion.id" readonly />
                </div>

                <div *ngIf="inscripcion.alumno" class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.inscripcion.email" for="field_alumno">Alumno</label>
                    <input id="field_alumno" class="form-control" name="alumno" [(ngModel)]="inscripcion.alumno.email"
                           required/>
                </div>
                <div [hidden]="!(editForm.controls.alumno?.dirty && editForm.controls.alumno?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.alumno?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>


                <!--
                <div class="form-group" class="row" style="margin-bottom: 10px">
                    <div class="col-md-auto"><input (change)="checkCantidad()" type="checkbox" class="form-control" name="instantaneo" id="field_instantaneo"
                                                    [(ngModel)]="varios" /></div>
                    <div class="col-sm" style="padding-top: 5px; margin-left: -15px"><label class="form-control-label" jhiTranslate="guaireCursosApp.inscripcion.inscribirVarios" for="field_instantaneo">Inscribir varios alumnos</label></div>
                </div>
                <div class="form-group" *ngIf="varios">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.inscripcion.cantidadAlumnos" for="field_cantidadAlumnos">Cantidad de alumnos</label>
                    <input (change)="checkCantidad()" type="number" class="form-control" name="cantidadAlumnos" id="field_cantidadAlumnos"
                           [(ngModel)]="cantidadAlumnos"/>
                </div>
                -->


                <div [hidden]="!(editForm.controls.curso?.dirty && editForm.controls.curso?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.curso?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.inscripcion.comentarios" for="field_comentarios">Comentarios</label>
                    <textarea type="text" class="form-control" name="comentarios" id="field_comentarios"
                              [(ngModel)]="inscripcion.comentarios" ></textarea>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving " class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
