<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-grupo-heading" jhiTranslate="guaireCursosApp.grupo.home.createOrEditLabel">Create or edit a Grupo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!grupo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="grupo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.grupo.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="grupo.nombre" required/>
                    <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>


                <div class="form-group">
                    <label jhiTranslate="guaireCursosApp.grupo.cursos" for="field_cursos">Cursos</label> (agregar en orden)
                    <select (change)="nuevoCurso($event)" class="form-control" id="field_cursos" multiple name="cursos" [(ngModel)]="grupo.cursos" required>
                        <option [ngValue]="getSelected(grupo.cursos, cursoOption)" *ngFor="let cursoOption of cursos; trackBy: trackCursoById">{{cursoOption.nombre}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.cursos?.dirty && editForm.controls.cursos?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cursos?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>


                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guaireCursosApp.grupo.orden" for="field_orden">Orden</label>
                    <input type="text" class="form-control" name="orden" id="field_orden"
                           [(ngModel)]="grupo.orden" />
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
