<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="grupo">
            <h2>{{grupo.nombre}}</h2>
            <jhi-alert-error></jhi-alert-error>
            <div class="table-responsive" *ngIf="grupo.cursos">
                <table class="table table-striped">
                    <tr *ngFor="let curso of grupo.cursos ;trackBy: trackId">
                        <dl class="row-md jh-entity-details" style="padding: 25px;">
                            <h2><span>{{curso.nombre}}</span></h2>
                            <i><span jhiTranslate="guaireCursosApp.curso.expositor">Expositor</span> {{curso.expositor?.login}}</i>
                            <dt>

                            </dt>
                            <hr/>

                            <dt><span jhiTranslate="guaireCursosApp.curso.descripcion">Descripcion</span></dt>
                            <dd style="margin-top: 5px">
                                <span [innerHTML]="curso.descripcion"></span>
                            </dd>


                            <br/>

                            <div class="row">
                                <div class="col-sm">
                                    <dd>
                                        <div *ngIf="curso.imagen">
                                            <a (click)="openFile(curso.imagenContentType, curso.imagen)">
                                                <img [src]="'data:' + curso.imagenContentType + ';base64,' + curso.imagen" style="max-width: 100%;" alt="curso image"/>
                                                <button type="submit"
                                                        [hidden]="calculateFate(curso.fecha)"
                                                        style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 0px;"
                                                        class="btn btn-outline-danger">
                                                    <fa-icon [icon]="'times'"></fa-icon>
                                                    <span>Finalizado</span>
                                                </button>
                                            </a>
                                        </div>
                                    </dd>
                                </div>
                                <div class="col-sm">
                                    <div class="row">
                                        <div class="col-7">
                                            <dt><span jhiTranslate="guaireCursosApp.curso.lugar">Lugar</span></dt>
                                            <dd>
                                                <span style="width: 100%" [innerHTML]="curso.lugar"></span>
                                            </dd>
                                        </div>
                                        <div class="col-sm">
                                            <button type="button"
                                                    [routerLink]="['/inscripcion/new', curso.id]"
                                                    [disabled]="!calculateFate(curso.fecha)"
                                                    class="btn btn-success">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="guaireCursosApp.curso.inscribirse"> Edit</span>
                                            </button>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm">
                                            <dt><span jhiTranslate="guaireCursosApp.curso.fecha">Fecha</span></dt>
                                            <dd>
                                                <span>{{curso.fecha | date : "dd MMM yyyy"}}</span>
                                            </dd>
                                        </div>
                                        <div class="col-sm">
                                            <dt><span jhiTranslate="guaireCursosApp.curso.horaInicio">Hora Inicio</span></dt>
                                            <dd>
                                                <span>{{curso.horaInicio}}:{{curso.minutoInicio | number:'2.0'}}</span>
                                            </dd>
                                        </div>
                                        <div class="col-sm">
                                            <dt><span jhiTranslate="guaireCursosApp.curso.horaFin">Hora Fin</span></dt>
                                            <dd>
                                                <span>{{curso.horaFin}}:{{curso.minutoFin | number:'2.0'}}</span>
                                            </dd>
                                        </div>
                                    </div>

                                    <dt><span jhiTranslate="guaireCursosApp.curso.monto">Monto</span></dt>
                                    <dd>
                                        <span>{{curso.moneda?.simbolo}}{{curso.monto}}</span>
                                    </dd>

                                    <dt *ngIf="curso.cupos"><span jhiTranslate="guaireCursosApp.curso.cupos">Cupos</span></dt>
                                    <dd *ngIf="curso.cupos">
                                        <span>{{curso.cupos}}</span>
                                    </dd>

                                </div>
                            </div>

                            <dt><span jhiTranslate="guaireCursosApp.curso.linkInformativo">Link Informativo</span></dt>
                            <dd>
                                <a href="{{curso.linkInformativo}}" target="_blank"><span>{{curso.linkInformativo}}</span></a>
                            </dd>

                        </dl>

                        <div class="btn-group flex-btn-group-container" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <button type="submit"
                                    [routerLink]="['/curso', curso.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/curso', curso.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', 'curso', { outlets: { popup: curso.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                            <button type="button"
                                    [routerLink]="['/inscripcion/email', curso.id]"
                                    class="btn btn-success">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="guaireCursosApp.curso.inscribir"> Edit</span>
                            </button>
                        </div>

                    </tr>
                </table>

            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/grupo', grupo.id, 'edit']"
                    *jhiHasAnyAuthority="'ROLE_ADMIN','ROLE_PROFESSOR'"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
